{% extends 'master/master.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div id="contentSection">
    <h1>Login Page </h1>

    <form action="{% url 'login' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{loginForm|crispy}}
        </div>
        <div class="form-group">
            <button class="btn btn-success">Login</button>
        </div>
    </form>
    <a href="{% url 'password-reset' %}" class="btn btn-danger btn-sm">Reset Password</a>
</div>


{% endblock %}