{% extends 'master/master.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div id="contentSection">
    <h1>User Register </h1>
    <hr>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success">{{message}}</div>
    {% endfor %}

    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{userRegister|crispy }}
        <button class="btn btn-success">Register</button>
    </form>
</div>


{% endblock %}